#main{
	width: 80%;
	margin: 0 auto;
}

#searchBox{
	text-align: center;
	width: 450px;
	margin: 0 auto;
}
#footer{
	text-align: center;
}
.searchBar{
	width: 300px;
	display: inline-block;
	}
.searchButton{
	width: 70px;
	display: inline-block;
}
a.title-text:hover, a.title-text:active { 
    
    text-decoration: none;
}
body{
	scroll:yes;
	background:fixed;
	background-image: url('http://static.wixstatic.com/media/157176afb17f2ed4238938cc188c40e8.wix_mp_srz_p_176_176_75_22_0.50_1.20_0.00_wix_mp_srz');
}
title{
	height: 100px;
	font-family: "Kelly Slab";
	font-size: 80px;
	font-weight: 100;
	text-align: center;
	color: #F9C600;

	border-bottom: #EFB718;
	border-style: solid;	
}
.restaurantSnap{
	height: 250px;
	width: 250px;
}
.restaurantName{
	width: 250px;
	text-align: center;
	font-size: medium;
}
.item{
	margin: 10px 5px;	
}
#container{
	text-align: center;
}